<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="CaminhoArquivos" value="C:\db\"/>
      <add key="SqlConnection" value="Persist Security Info=False;User ID=sa;Initial Catalog=TresCamadas;Data Source=DESKTOP-848UEKE;Password=123456789"/>
    </appSettings>
</configuration>
